################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Handog_MobileApp/.vs
/Handog_MobileApp/obj
/Handog_MobileApp/Handog_MobileApp.csproj.user
/Handog_MobileApp/Handog_MobileApp.csproj.user
/Handog_MobileApp/Handog_MobileApp.csproj.user
/Handog_MobileApp/Handog_MobileApp.csproj.user
