################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Handog_MobileApp/.vs
/Handog_MobileApp/obj
/Handog_MobileApp/Handog_MobileApp.csproj.user
/Handog_MobileApp/Handog_MobileApp.csproj.user
/Handog_MobileApp/Handog_MobileApp.csproj.user
/Handog_MobileApp/Handog_MobileApp.csproj.user
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/com.companyname.handog_mobileapp-Signed.apk
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/com.companyname.handog_mobileapp-Signed.apk.idsig
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/com.companyname.handog_mobileapp.apk
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/Handog_MobileApp.dll
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/Handog_MobileApp.pdb
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/Handog_MobileApp.runtimeconfig.json
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/Handog_MobileApp.xml
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/Microsoft.Maui.Controls.HotReload.Forms.dll
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/Microsoft.VisualStudio.DesignTools.MobileTapContracts.dll
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/Microsoft.VisualStudio.DesignTools.TapContract.dll
/Handog_MobileApp/bin/ARM32/Debug/net8.0-android/Microsoft.VisualStudio.DesignTools.XamlTapContract.dll
/Handog_MobileApp/.github/copilot-instructions.md
